<!DOCTYPE html>

<html lang="en" ng-app="K12" ng-init="activePage='index'" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <title>XED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="lib/bootstrap-2.3.2/css/bootstrap.css" rel="stylesheet">
    <!--
    <link href="lib/bootstrap-2.3.2/css/bootstrap-responsive.css" rel="stylesheet">
    -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Le font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">           `
        <div class="container extra-left-padding extra-right-padding">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial).
                Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/" ng-click="activePage='index'">XED</a>

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse ">
                <ul class="nav pull-right">
                    <a ng-hide="user" class="navbar-button" href="/trial" ng-click="activePage='trial'">One Month Free Trial</a>
                    <li ng-hide="user"><a href="/signin">Sign in</a></li>
                    <!--
                    <li>
                        <form action="/search" class="navbar-search">
                            <input type="text" class="search-query input-medium" placeholder="Search">
                        </form>
                    </li>
                    <li class="divider-vertical"></li>
                    -->
                    <a ng-show="user" class="brand dropdown-toggle" data-toggle="dropdown" href="">{{user.username}}</a>
                    <ul ng-show="user" class="dropdown-menu pull-right">
                        <li><a tabindex="-1" href="/settings" ng-click="activePage='settings'">Account Settings</a></li>
                        <li ng-show="user.isAdmin"><a tabindex="-1" href="/hierarchy" ng-click="activePage='hierarchy'">Hierarchy</a></li>
                        <li ng-show="user.isAdmin"><a tabindex="-1" href="/questions" ng-click="activePage='questions'">Questions</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="" ng-click="signout()">Sign Out</a></li>
                    </ul>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </div>
</div>
<!--/.navbar -->

<div class="container" style="padding-top:80px;">

    <div class="row">
        <div ng-show="alertMessage" class="span8 offset2 alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
    </div>

    <div class="row">
        <div ng-view=""></div>
    </div>

</div>
<!-- /.container -->                           `

<div class="container">
    <hr/>
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">Company</li>
                <li ng-class="{activewithcaret:activePage=='index'}"><a href="/" ng-click="activePage='index'">Home</a></li>
                <li ng-class="{activewithcaret:activePage=='about'}"><a href="/about" ng-click="activePage='about'">Our Story</a></li>
                <li ng-class="{activewithcaret:activePage=='contacts'}"><a href="/contacts" ng-click="activePage='contacts'">Contacts</a></li>
                <li ng-class="{activewithcaret:activePage=='blog'}"><a href="/blog" ng-click="activePage='blog'">Blog</a>
                </li>
            </ul>
        </div>

        <div class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">Membership</li>
                <li ng-class="{activewithcaret:activePage=='trial'}"><a href="/trial" ng-click="activePage='trial'">Free Trial</a></li>
                <li ng-class="{activewithcaret:activePage=='pricing'}"><a href="/pricing" ng-click="activePage='pricing'">Pricing</a></li>
                <li ng-class="{activewithcaret:activePage=='terms'}"><a href="/terms" ng-click="activePage='terms'">Terms of Use</a></li>
                <li ng-class="{activewithcaret:activePage=='privacy'}"><a href="/privacy" ng-click="activePage='privacy'">Privacy Policy</a></li>
                <li class="nav-header">Help</li>
                <li ng-class="{activeWithCaret:activePage=='faq'}"><a href="/faq" ng-click="activePage='faq'">FAQ</a>
            </ul>
        </div>

        <div ng-show="user" class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">Account</li>
                <li ng-class="{activewithcaret:activePage=='settings'}"><a href="/settings" ng-click="activePage='settings'">Settings</a></li>
                <li><a href="" ng-click="signout()">Sign Out</a></li>
            </ul>
        </div>
        <div ng-show="user.isAdmin" class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">Administration</li>
                <li ng-class="{activewithcaret:activePage=='hierarchy'}"><a href="/hierarchy" ng-click="activePage='hierarchy'">Hierarchy</a></li>
                <li ng-class="{activewithcaret:activePage=='questions'}"><a href="/questions" ng-click="activePage='questions'">Questions</a></li>
                <li><a href="img/_m1.jpg">Questions-Diagram</a>
                <li><a href="img/_m1.jpg">Student-Diagram</a></li>

            </ul>
        </div>
    </div>

    <div class="row">
        <br/>
    </div>

    <div class="row">
        <p class="pull-right extra-right-padding">
            <small>Copyright &copy; 2013 XED Ltd. All Rights Reserved.</small>
        </p>
    </div>
</div>
<!-- /container -->


<!-- Le javascript (3rd party) -->
<script src="lib/jquery-2.0.3.js"></script>
<script src="lib/angular-1.1.5/angular.js"></script>
<script src="lib/angular-1.1.5/angular-cookies.js"></script>
<script src="lib/angular-1.1.5/angular-resource.js"></script>
<script src="lib/bootstrap-2.3.2/js/bootstrap.js"></script>
<!-- Le app -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</body>
</html>
