/*
 * My styles
 */

html,
body {
    /* The html and body elements cannot have any padding or margin. */
    font-family: 'Open Sans', sans-serif;
    padding-top:40px;
}

.debug {
    border-color:#000000;
    border-style: solid;
    border-width: 1px;
}

.extra-left-padding {
    padding-left: 20px;
}

.extra-right-padding {
    padding-right: 20px;
}

.nav-list > .activewithcaret > a,
.nav-list > .activewithcaret > a:hover,
.nav-list > .activewithcaret > a:focus {
    border-left-color: #0088cc;
    border-left-style: solid;
    border-left-width: 2px;
}

.navbar .navbar-button {
    display: block;
    background-color: #5bb75b;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    color: #f0f0f0;
    text-shadow:none;
}

.navbar .navbar-button:hover,
.navbar .navbar-button:focus {
    text-decoration: none;
    color: #ffffff;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}



