/*
 * My styles
 */

html,
body {
    /* The html and body elements cannot have any padding or margin. */
    font-family: 'Open Sans', sans-serif;
}

.debug {
    border-color:#000000;
    border-style: solid;
    border-width: 1px;
}

.extra-left-padding {
    padding-left: 20px;
}

.extra-right-padding {
    padding-right: 20px;
}

.footer {
    display: block;
}

.nav-list > .activewithcaret > a,
.nav-list > .activewithcaret > a:hover,
.nav-list > .activewithcaret > a:focus {
    border-left-color: #0088cc;
    border-left-style: solid;
    border-left-width: 2px;
}

.navbar .navbar-button {
    display: block;
    background-color: #5bb75b;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    color: #e9e9e9;
    text-shadow:none;
}

.navbar .navbar-button:hover,
.navbar .navbar-button:focus {
    text-decoration: none;
    color: #ffffff;
}

.container-narrow {
    margin: 0 auto;
    max-width: 600px;
}



