/*
 * My styles
 */

html,
body {
    height: 100%;
    padding-top:40px;
}

html,
body,
input,
button,
select,
textarea {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.debug {
    border-color:#000000;
    border-style: solid;
    border-width: 1px;
}

.extra-left-padding {
    padding-left: 20px;
}

.extra-right-padding {
    padding-right: 20px;
}

.extra-bottom-padding {
    padding-bottom: 60px;
}

.extra-xl-bottom-padding {
    padding-bottom: 90px;
}

.extra-top-padding {
    padding-top: 60px;
}

.nav-list > .activewithcaret > a,
.nav-list > .activewithcaret > a:hover,
.nav-list > .activewithcaret > a:focus {
    border-left-color: #0088cc;
    border-left-style: solid;
    border-left-width: 2px;
}

.navbar .navbar-button {
    display: block;
    background-color: #5bb75b;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    color: #f0f0f0;
    text-shadow:none;
}

.navbar .navbar-button:hover,
.navbar .navbar-button:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #5dbb5d;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.container-narrow {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.container-dashboard {
    width: 760px;
    margin-right: auto;
    margin-left: auto;
}

.selected {
    background-color:#0f0f0f;
    color: #f0f0f0;
}

.k12-button {
    background-color: #4173c9;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .08)
}

a.k12-button {
    color: #fff !important;
    text-decoration: none
}

button.k12-button {
    margin: 0;
    overflow: visible;
    white-space: normal
}

.k12-button:hover, .k12-button:focus {
    background-color: #396bbc;
}

.k12-button.k12-button-white {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    color: #444;
    padding: 6px 11px;
    text-shadow: 0 1px 0 #fff
}

a.k12-button.k12-button-white {
    color: #444 !important
}

.k12-button.k12-button-white:hover, .k12-button.k12-button-white:focus {
    background-color: #f1f1f1;
    border-color: #e1e1e1
}
