/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    font-family: 'Muli', sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -280px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 280px;
}

#footer {
    background-color: #ffffff;
}


.navbar .avatar {
    display: block;
    float: left;
    padding: 10px 0px 10px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    border-color: #ffffff;
}

.navbar .avatar:hover,
.navbar .avatar:focus {
    text-decoration: none;
    text-decoration: none;
}

.nav-list > .activeMuted > a,
.nav-list > .activeMuted > a:hover,
.nav-list > .activeMuted > a:focus {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-left-color: #0088cc;
    border-left-style: solid;
    border-left-width: 2px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}




