<div data-ng-controller="TestCtrl">

    <div class="container-narrow">
        <h2>Test</h2>

        <br/>

        <div class="row">
            <div class="span4">
                <h4>{{name}}</h4>

                <div class="btn-group" data-toggle="buttons-radio">
                    <button data-ng-repeat="e in elements" type="button" class="btn" data-ng-click="add()">{{e}}
                    </button>
                </div>
            </div>
        </div>

</div><!-- data-ng-controller -->