<div class="container">
    <h2>About Us</h2>
        <p>
            Akademeia is an organization on a mission. We're a not-for-profit with the goal of changing education for the
            better by providing a free world-class education for anyone anywhere. All of the site's resources are
            available to anyone. It doesn't matter if you are a student, teacher, home-schooler, principal, adult
            returning to the classroom after 20 years, or a friendly alien just trying to get a leg up in earthly
            biology. Our materials and resources are available to you completely free of charge
            <br>
        </p>
</div><!-- /container -->