<div class="container">
    <h2>Subjects, Categories & Skills</h2>

    <h4>Canadian Curricula</h4>
    <table class="table table-striped">
        <tr ng-repeat="curriculum in curricula">
            <td>
                {{curriculum.name}}
            </td>
        </tr>
    </table>

    <h4>Subjects</h4>
    <table class="table table-striped">
        <tr ng-repeat="subject in subjects">
            <td>
                {{subject.name}}
            </td>
        </tr>
    </table>
    <h4>Categories</h4>
    <table class="table table-striped">
        <tr ng-repeat="category in categories">
            <td>
                {{category.name}}
            </td>
        </tr>
    </table>
    <h4>Skills</h4>
    <table class="table table-striped">
        <tr ng-repeat="skill in skills">
            <td>
                {{skill.name}}
            </td>
        </tr>
    </table>

</div><!-- /container -->