<div class="container-narrow">
    <form class="k12-form" data-ng-submit="signin(email, password, rememberMe)">
        <h2 class="k12-form-heading">Sign in</h2>
        <hr/>
        <input type="text" data-ng-model="email" class="input-block-level" placeholder="E-Mail Address">
        <input type="password" data-ng-model="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="rememberMe"> Remember me
        </label>
        <button class="btn btn-large btn-block" type="submit">Sign in</button>
    </form>
</div>
